* {
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body,
html {
  height: 100%;
  -webkit-user-select: text !important;
}
.flex {
  display: flex;
}
.flex.ver-mid {
  align-items: center;
}
.flex.center {
  align-items: center;
  justify-items: center;
}
.cube-picker-confirm,
.cube-picker-cancel {
  color: #0c81ff !important;
  cursor: pointer;
}
.cube-picker-panel {
  height: 270px!important;
}
.cube-picker-wheel-item {
  height: 48px!important;
  font-size: 22px!important;
  transform: none !important;
}
.cube-picker-wheel-scroll {
  line-height: 56px!important;
  margin-top: 100px!important;
}
.cube-picker-wheel-wrapper > div {
  height: 270px!important;
}
.cube-picker-content > i {
  height: 120px!important;
}
.cube-picker-cancel {
  font-size: 18px!important;
  line-height: 35px!important;
}
.cube-picker-confirm {
  font-size: 18px!important;
  line-height: 35px!important;
}
.cube-picker-title {
  font-size: 18px!important;
  line-height: 35px!important;
}
.cube-dialog-main {
  width: 250px!important;
  padding: 10px!important;
  line-height: 50px!important;
  border-radius: 10px!important;
}
.cube-dialog-content-def > p {
  line-height: 20px !important;
  display: block !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  border-bottom: 1px solid #ebe9e9 !important;
  padding-bottom: 15px !important;
}
.cube-dialog-content-def > p > a {
  text-decoration: underline !important;
  color: #86d6ef !important;
}
.cube-dialog-btn {
  color: #41c6ee !important;
  font-size: 16px !important;
}
li {
  list-style-type: disc !important;
}
.cube-toast .cube-popup-content {
  width: 200px !important;
  word-wrap: break-word !important;
}
.cube-toast-tip {
  line-height: 20px !important;
  max-height: none !important;
  font-size: 20px !important;
  margin: 0 auto !important;
}
.cube-dialog-content {
  text-align: center !important;
  font-size: 20px !important;
}
